*{
    margin: 0;
    padding: 0;
}

.kakashi{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}


.feed-wall
{
    background: rgba(0, 0, 0, 0.7) url(feedback\ wallpaper.png);
    background-size: cover;
    background-blend-mode: darken;  
    width: 675px;
    border: 5px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.feed-back
{
    background-image: linear-gradient(rgba(0 ,0 , 0, 0.4), rgba(0 ,0 , 0, 0.4)), url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.feed
{
    border: 5px solid black;
    padding: 30px;
}

.button
{
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline: none;
    color: white;
}

.button:hover
{
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}

.neon-effect{
    position: relative;
    display: inline-block;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.neon-effect:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1ms;
}

.neon-button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;   
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.neon-button:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.dropdown-item
{
    box-shadow: inset 0 0 0 0 #2196f3;
    transition: ease-out 0.3s;
    outline: none;
    color: black;
}

.dropdown-item:hover
{
    box-shadow: inset 300px 0 0 0 #2196f3;
    cursor: pointer;
    color: black;
}