*{
    margin: 0;
    padding: 0;
}

.kakashi{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

.kakashi-main-box{
    background-image: url(/images/kbackground.jpg);
    background-size: cover;
    display: flex;
    height: 93vh;
}

.neon-effect{
    position: relative;
    display: inline-block;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.neon-effect:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1ms;
}